# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Sphinx build files
.buildinfo
environment.pickle
globalcontext.json
last_build
objects.inv
sitemap.xml

